/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
/* .jumbotron {
  position: relative;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #020031; Old browsers
  background: -moz-linear-gradient(45deg,  #020031 0%, #68ac59 100%); FF3.6+
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#68ac59)); Chrome,Safari4+
  background: -webkit-linear-gradient(45deg,  #020031 0%,#68ac59 100%); Chrome10+,Safari5.1+
  background: -o-linear-gradient(45deg,  #020031 0%,#68ac59 100%); Opera 11.10+
  background: -ms-linear-gradient(45deg,  #020031 0%,#68ac59 100%); IE10+
  background: linear-gradient(45deg,  #020031 0%,#68ac59 100%); W3C
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#68ac59',GradientType=1 ); IE6-9 fallback on horizontal gradient
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron h1 {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 30px;
}

Link styles (used on .masthead-links as well)
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

Download button
.masthead .btn {
  padding: 14px 24px;
  font-size: 24px;
  font-weight: 200;
  color: #fff; redeclare to override the `.jumbotron a`
  border: 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.masthead .btn:hover {
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
}
.masthead .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
     -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
          box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}


Pattern overlay
-------------------------
.jumbotron .container {
  position: relative;
  z-index: 2;
}
.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .4;
}

Masthead (docs home)
-------------------------
.masthead {
  padding: 70px 0 80px;
  margin-bottom: 0;
  color: #fff;
}
.masthead h1 {
  font-size: 80px;
  line-height: 1;
  letter-spacing: -2px;
}
.masthead p {
  font-size: 30px;
  font-weight: 200;
  line-height: 1.25;
}

Textual links in masthead
.masthead-links {
  margin: 0;
  list-style: none;
}
.masthead-links li {
  display: inline;
  padding: 0 10px;
  color: rgba(255,255,255,.25);
}

.social-btns {
  padding: 15px 0;
  text-align: center;
  background-color: whiteSmoke;
  border-top: 1px solid white;
  border-bottom: 1px solid #DDD;
}
Textual links in social
.social-links {
  margin: 0;
  list-style: none;
}
.social-links li {
  display: inline;
  padding: 0 10px;
  color: rgba(255,255,255,.25);
}
.example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  background-color: white;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.example::after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: whiteSmoke;
  border: 1px solid #DDD;
  color: #9DA0A4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}
.example + .prettyprint {
  margin-top: -20px;
  padding-top: 15px;
} */

/* For Collasible pannel */
/* .row {
  margin-top: 40px;
  padding: 0 10px;
}
 */
 
.clickable {
  cursor: pointer;
}

.panel-heading span {
  margin-top: -20px;
  font-size: 15px;
}

/* .spacer {
    margin-top: 30px; define margin as you see fit
} */
a.disabled {
    color: #AAAAAA;
    cursor: default;
    pointer-events: none;
    text-decoration: none;
}	

.thumbnail img{
    width: 125px;
    height: 125px;
}

.thumbnail{
    width: 128px;
    height: 175px;
    border: 1px solid #DDD;
}


/*Below are for testing pupose to add background color for columns*/
.bg-1 {
	background: #555;
}
.bg-2 {
	background: #cccccc;
}
/* Animate Div*/
.animate-switch-container {
  position:relative;
  background:white;
  overflow:overflow-y scroll;
  height:300px;
}

.animate-switch {
  padding:10px;
}

.animate-switch.ng-animate {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
  top:-50px;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  top:0;
}
