<!-- <form role="form"> -->
<div ng-controller="KartSearchCtrl">
		<div class="col-md-12 col-sm-6">
      	<div class="panel panel-default bg-2" id="catPanel">
          <div class="panel-heading">
            <h4 class="panel-title">Category</h4>
            <span class="pull-right clickable">
              <i class="glyphicon glyphicon-chevron-up"></i>
            </span>
          </div>
          <div class="panel-body" >
            <div ng-init="loadCategories()" >
            	<span ng-repeat="category in categories">
				  <input  type="checkbox"   name="selectedCategories[]"  value="{{category.name}}" ng-model="category.selected"> 
				  {{category.name}}</br>
				</span>
           </div>
          </div>
        </div>
        </div>
        <div class="col-md-12 col-sm-6">
		<div class="panel panel-default bg-2">
          <div class="panel-heading">
            <h4 class="panel-title">Metal Type</h4>
            <span class="pull-right clickable">
              <i class="glyphicon glyphicon-chevron-up"></i>
            </span>
          </div>
          <div class="panel-body">
            <div  ng-init="loadMetalTypes()" >
            	<span ng-repeat="metalType in metalTypes" >
				  <input  type="checkbox"   name="selectedMetalTypes[]"  value="{{metalType.name}}" ng-model="metalType.selected"> 
				  {{metalType.name}}</br>
				</span>
            </div>
          </div>
        </div>	
        </div>
        <div class="col-md-12 col-sm-6">
		<div class="panel panel-default bg-2">
          <div class="panel-heading">
            <h4 class="panel-title">Country/State/City</h4>
            <span class="pull-right clickable">
              <i class="glyphicon glyphicon-chevron-up"></i>
            </span>
          </div>
          <div class="panel-body form_search">
          	  <select name="shopCountry"  ng-model="vm.shopCountry" ng-options="opt.code as opt.name for opt in countries" ng-change="getCountryStates()" style="width: 230px; height: 30px; margin-bottom: 10px;"><option value=''>Select Country</option></select>
          	  <div><select name="shopState" ng-disabled="!vm.shopCountry"  ng-model="vm.shopState" ng-options="opt.code as opt.name for opt in states" style="width: 230px; height: 30px; margin-bottom: 10px;"><option value=''>Select State</option></select></div>
              
          	  <div> <input name="srchCity" style="width: 230px; height: 30px" ng-model="vm.city"/></div>
              <div class="row">
              <div class="col-md-12 col-sm-6 col-xs-5" style="margin-top: 10px; margin-left: 5px;">
                <div class="col-md-4 col-sm-6 col-xs-5"><button class="btn btn-primary" ng-click="advancedSearch()"><span class="fa fa-search"></span> Search</button></div>
                <div class="col-md-3 pull-right"><a ng-click="vm.shopCountry='';getCountryStates();vm.city=''" class="btn btn-link pull-right">Clear</a></div>
              </div>
              </div>
              
          	  
          </div>
        </div>	
        </div>
        
<!--         <div class="panel panel-default bg-2">
          <div class="panel-heading">
            <h3 class="panel-title">STATE</h3>
            <span class="pull-right clickable">
              <i class="glyphicon glyphicon-chevron-up"></i>
            </span>
          </div>
          <div class="panel-body">
          	 <select id="srchState"></select>
          	 <select name="srchState" ng-disabled="!selectedCountry"  ng-model="selectedState" ng-options="opt.code as opt.name for opt in states"  ></select>
          	 <select name="shopState" ng-disabled="!vm.shopCountry"  ng-model="vm.shopState" ng-options="opt.code as opt.name for opt in states" ></select>
          </div>
        </div>	
         <div class="panel panel-default bg-2">
          <div class="panel-heading">
            <h3 class="panel-title">CITY</h3>
            <span class="pull-right clickable">
              <i class="glyphicon glyphicon-chevron-up"></i>
            </span>
          </div>
          <div class="panel-body">
          	 <input name="srchCity" ng-model="vm.city"/>
          </div>
        </div>	 -->
       

</div>
<script>

      $(document).on('click', '.panel-heading span.clickable', function(e){
		    var $this = $(this);
			if(!$this.hasClass('panel-collapsed')) {
				$this.parents('.panel').find('.panel-body').slideUp();
				$this.addClass('panel-collapsed');
				$this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
			} else {
				$this.parents('.panel').find('.panel-body').slideDown();
				$this.removeClass('panel-collapsed');
				$this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
			}
	 })

    </script>