<div ng-controller="KartSearchCtrl" >
<div class="col-md-10">
	<input name="mainSearchtxtNm" ng-model="searchText" class="form-control" type="text">
</div>
<div class="col-md-2">
<button class="pull-left btn btn-primary" ng-click="doSearch()"><span class="fa fa-search"></span> Search</button>
	<!-- <button type="button"  ng-click="doSearch()" class="active btn btn-primary btn-sm">Search <br>
	</button> -->
</div>
</div>