<div class="form-messages errors {{extraStyles}}" ng-show="vm.errorMessages.length > 0" ng-cloak>
    
    <div class="messages-group">
    
        <div ng-repeat="error in vm.errorMessages"><img style="width:30px;height:30px;" class="error-icon" src="./resources/img/error-icon.png"> {{error.description}}</div>
    </div>
</div>