<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="section">
				<div class="container" ng-controller="KartAppDataCtrl">
					<div ng-controller="KartSearchCtrl">
						
						<div class="col-md-6">
							<!-- Center Item Details section-->
							
							
								<div class="animate-switch-container" ng-switch on="detailsSelection">
									<div class="animate-switch" ng-switch-when="onAdvancedSearch"><div  ng-include="'views/items/searchResults.html'"></div></div>
									<div class="animate-switch" ng-switch-when="onSimpleSearch"><div   ng-include="'views/items/searchResults.html'"></div></div>
									<div class="animate-switch" ng-switch-default><div  ng-include="'views/items/topTrendingItems.html'"></div></div>
								</div>
							
								<div ng-include="'views/items/recentlyViewedItems.html'"></div>
							
						</div>
						<div class="col-md-3" style="float: left">
							<!-- Right Merchant list  section-->
							<div ng-include="'views/merchants/merchantList.html'"></div>
						</div>
                        <div class="col-md-3 col-xs-12">
							<!-- Side Adv search bar -->
							<div ng-include="'views/advancedSearch.html'"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
