<div class="panel">
    <div class="panel-body">
<p><strong>Terms of service</strong></p>
<p></p>
<ul>
<li>Welcome to&nbsp;SwarnaKart ("Website").This page (read in conjunction with the documents referred to on it) details the terms and conditions ("Terms") on which we supply the products and/or services ("Products") listed on the Website. Please read these Terms carefully before using the Website.</li>
</ul>
<p>You understand that by using the Website, you are deemed to have accepted these Terms, regardless of how you subscribe to or use the services of the Website. These Terms of Service and various other policies are binding under relevant provisions of the&nbsp;Information Technology Act of&nbsp;2000.</p>
<p>In these Terms, references to "you", "User", "Your" shall mean the end user/shopper/customer accessing the Website, its contents and using the Services offered through the Website. "We", "Us", "Our" and "SwarnaKart" shall mean&nbsp;SwarnaKart India Private Limited&nbsp;and its affiliates. &ldquo;Merchant&rdquo; and &ldquo;Vendor&rdquo; shall refer to persons both natural and juristic who have put their jewelry/ products on display or advertised their products on the Website.</p>
<ul>
<li><strong><u> User Account, Password, and Security:</u></strong></li>
</ul>
<p>You choose a password and account designation during the Website's registration process. You are responsible for maintaining the confidentiality of the password and account. You agree to (a) immediately notify SwarnaKart of any unauthorized use / breach of your password or account and (b) ensure that you exit from your account at the end of each session. SwarnaKart cannot and will not be liable for any loss or damage arising from your failure to comply with this Section.</p>
<ul>
<li><strong>2<u>. Services Offered and Terms</u>:</strong></li>
</ul>
<p>SwarnaKart provides a number of Internet-based services through the Website (all such services, collectively, the "Service"). One such Service enables Users to view and order jewelry essentially made in gold and/or in combination with diamond, platinum, silver and other precious metals and stones and other accessories from various jewelers selling with or without any brand name (collectively, "Products"). The Merchants may or may not indicate the price, dimension and the weight of the product/s. The Products can be viewed through the Website and users will have access to the contact details of the Merchants/ Vendors. An option is being provided to express interest in a particular product, and the vendors will have the ability to contact you in turn. However it is optional for you to permit the vendor to contact you. The Website only serves as a platform for you to view the jewelry advertised by the Merchants/Vendors and permits you to contact them, which ultimately may or may not result in a sale and purchase transaction. The Website or SwarnaKart does not have any role in the sale or purchase contract between you and the Merchant with respect to, or in connection with any product that you may see or express interest through the Website. It is for you to judge the adequacy of the price, quality or workmanship of the products displayed. It is also for you to judge the Merchant, his reliability, workmanship, credibility etc. SwarnaKart does not warranty the quality of the products, its design, workmanship, its delivery or performance of any contractual obligations by you and/or the merchant pursuant to or in connection with any transaction relating to the jewelry displayed on the Website. In addition, these Terms may be further supplemented by Product specific conditions, which may be displayed with that Product.</p>
<ul>
<li><strong><u> Privacy Policy:</u></strong></li>
</ul>
<p>We have developed this Privacy Policy to protect Your personal/ financial information and keep it confidential. By visiting Our Website, you are accepting and consenting to the practices described in this Privacy Policies.</p>
<p>The following Privacy Policy and Cookie Policy outlines the information we may process and how we may use that information to better serve you while using our Website. Please review the following carefully so that you understand our privacy practices.</p>
<ul>
<li><strong> Correspondence Information.</strong>Following are the various Correspondence Information which You provide when You access/ register for Our Service includes:
<ul>
<li>Children under the age of 18: The services under the Website is not directed towards children under 18, they are not allowed to register with or use the service, or provide personal data.&nbsp;If we discover that we have collected personal information from a child under 18, we will delete that information immediately.</li>
<li>Personal Information: name, gender, age, images, contact/ postal address, telephone, email id, nationality and content.</li>
<li>Transactional Information:&nbsp;Order ID, transactional history (other than banking details) about your e-commerce activities on our Website.</li>
<li>User IDs:&nbsp;Your usernames, passwords, email addresses and other security-related information used by you in relation to our Services.</li>
<li>Stored Information:&nbsp;Data either created by you or by a third party and which you wish to store on our servers such as image files, documents etc.</li>
<li>Shared Information: What types of information are not allowed on SwarnaKart Website?
<ul>
<li>Nudity or other sexually suggestive content</li>
<li>Hate speech, credible threats or direct attacks on an individual or group</li>
<li>Content that contains self-harm or excessive violence</li>
<li>Fake or impostor profiles</li>
<li>Spam</li>
</ul>
</li>
<li><strong>Technical and functional management of the Website.</strong>&nbsp;When you use our Website, we also process technical data such as your IP-address, Device ID or MAC-address, and information about the manufacturer, model, and operating system of your mobile device. We use this data to enable us to deliver the functionalities of the Website, resolve technical difficulties, and provide you with the correct (prevent the transmission of spam, viruses and/or unlawful, defamatory, obscene or otherwise undesirable material or content) and most up to date version of the Website.</li>
<li><strong>Operational Use.</strong>&nbsp;We may use your information for suggesting products and promotional offers and schemes. You may update your profiling information at any time on the Website. You acknowledge and agree such update is for Your interests and for improving personalization and service efficiency of the Website.</li>
<li><strong>Note: You acknowledge that, we will only disclose your information in an aggregated form which is not capable of being used or interpreted in such a manner as to identify you.</strong></li>
<li><strong>Applicable law and procedure.</strong>&nbsp;We collect and store your Correspondence Information to:&nbsp;(a)&nbsp;comply with our obligations under law; and&nbsp;(b)&nbsp;monitor your use of our Services in order to ensure your compliance with our&nbsp;Terms of Service.</li>
<li><strong>Note: However, as effective as encryption technology is, no security system is impenetrable. We cannot guarantee the security of our database, nor can we guarantee that information you supply won't be intercepted while being transmitted to us over the Internet. Any transmission of information by you to our Website is at your own risk. We recommend that you do not disclose your password to anyone.</strong></li>
<li><strong>Cookie Policy.</strong>&nbsp;A cookie is a small text file that we place on your mobile device/computer to enable various features of Website. "Cookies" are used to store user preferences and to track user trends, so as to enhance your interactive experience and generally improve our Services to you. You can change your cookie settings to accept or not accept cookies in your browser settings. If you do accept a "cookie", you thereby agree to our use of any Personal Information collected by us using that Cookie.</li>
<li><strong>Third Party.</strong>&nbsp;At times We may tie-up with third parties, brand owners or other partners and make available certain offers, events or special schemes. In such instances, Your personal information may be shared with such third parties and/or may become available to them or be disclosed to them, such third parties may have their own applicable privacy rules and We shall not be liable for the use or misuse of Your information by such third parties.</li>
<li><strong>We only collect your Personal Information to conduct our business and to enable us to deliver and improve our services. We do not for any reason whatsoever sell your Correspondence Information to any third party or otherwise trade on it.</strong></li>
</ul>
</li>
</ul>
<ul>
<li><strong><u> User Conduct and Rules:</u></strong></li>
</ul>
<p>You agree and undertake to use the Website and the Service only to post and upload messages and material that are proper. By way of example, and not as a limitation, you agree and undertake that when using a Service, you will not:</p>
<ul>
<li>a) defame, abuse, harass, stalk, threaten or otherwise violate the legal rights of others;</li>
<li>b) publish, post, upload, distribute or disseminate any inappropriate, profane, defamatory, infringing, obscene, indecent or unlawful topic, name, material or information;</li>
<li>c) upload files that contain software or other material protected by intellectual property laws unless you own or control the rights thereto or have received all necessary consents; you own or control the rights thereto or have received all necessary consents;</li>
<li>d) upload or distribute files that contain viruses, corrupted files, or any other similar software or programs that may damage the operation of the Website;</li>
<li>e) conduct or forward surveys, contests, pyramid schemes or chain letters;</li>
<li>f) violate any code of conduct or other guidelines, which may be applicable for or to any particular Service;</li>
<li>g) violate any applicable laws or regulations for the time being in force in or outside India;</li>
<li>h) imitate, abuse, harass, any user using the Website; and</li>
<li>i) violate, abuse, unethically manipulate or exploit, any of the Terms for the use of Website.</li>
</ul>
<p>We on certain landing page even allow our Users to experience free exchange of ideas and observations regarding interest in the field of fashion, including 'viewing user generated content' and/or 'videos' and 'posting comments'. By accessing, viewing and/or posting any user generated content to any specific dedicated page on the Website, you accept and consent to the practices described in these 'Terms of Service' and 'Privacy Policies', as well as any other terms of prescribed by the Website. You agree and undertake that when accessing, viewing and/or posting any user generated content on these pages You will not imitate, abuse, harass, any Customer/User or violate and exploit, any of these &lsquo;Terms of Service&rsquo; of the Website.</p>
<ul>
<li><strong><u> Exactness Not Guaranteed:</u></strong></li>
</ul>
<p>Website hereby disclaims any guarantees of exactness as to the finish, appearance, size, color etc., of the final Product as seen/ordered by the User.</p>
<ol start="6">
<li><strong><u> Pricing:</u></strong></li>
</ol>
<p>The Website is a platform that enables You to view Products listed on the Website and to express interest in those products and contact the Merchants in relation thereto, and if mentioned, at the price indicated therein at any time. However, Our Website does not guarantee that the price will be the lowest in the city, region or geography. In any event, SwarnaKart and the Website have no say in the pricing of the products and do not handle money for the purchase of the product nor is responsible for the delivery of the product. That is totally between You and the Merchant through a medium independent of the Website in which SwarnaKart has no role to play.</p>
<ul>
<li><strong><u> Intellectual Property Rights:</u></strong></li>
</ul>
<p>You undertake not to use the Website to copy the designs of the products displayed therein or indulge in any infringement of the intellectual property rights of the Merchants in relation to the products on display. It is expressly clarified that You will retain ownership and shall solely be responsible for any content that You provide or upload when using any Service, including any text, data, information, images, photographs, music, sound, video or any other material which you may upload, transmit or store when making use of Our various Service.</p>
<ol start="8">
<li><strong><u> Reviews and Feedback</u></strong></li>
</ol>
<p>You are provided with an option to rate the Merchants and their products on a scale of 5 (stars) and to write your genuine feedback/ review on your experience with the product and/or merchant. You undertake not to use this opportunity to wreck vengeance against a merchant or to settle personal scores. If it comes to the knowledge of the Website or SwarnaKart that you are indulging in unfair practices and are using this platform with malicious intent or to settle personal scores, Swarnakart reserves the right to remove at its sole discretion all your reviews and feedback and also to block you from using the Website.</p>
<ul>
<li><strong><u> Disclaimer /Limitation Of Liability</u></strong>:</li>
</ul>
<p>SwarnaKart has endeavored to ensure that all the information on the Website is correct, but SwarnaKart neither warrants nor makes any representations regarding the quality, accuracy or completeness of any data, information, Product or Service. In no event shall SwarnaKart be liable for any indirect, punitive, incidental, special, consequential damages or any other damages resulting from: (a) the use or the inability to use the Services or Products; (b) unauthorized access to or alteration of the user's transmissions or data; (c) breach of condition, representations or warranties by the manufacturer of the Products (c) any other matter relating to the services; including, without limitation, damages for loss of use, data or profits, arising out of or in any way connected with the use or performance of the Website or Service. SwarnaKart shall not be held responsible for non-availability of the Website during periodic maintenance operations or any unplanned suspension of access to the Website. The User understands and agrees that any material and/or data downloaded at Website is done entirely at Users own discretion and risk and they will be solely responsible for any damage to their mobile or loss of data that results from the download of such material and/or data. SwarnaKart shall not be liable for any dispute or disagreement between Users or between merchants or between user/s and merchant/s .</p>
<ul>
<li><strong> <u>Indemnification</u></strong>:</li>
</ul>
<p>You agree to indemnify, defend and hold harmless SwarnaKart from and against any and all losses, liabilities, claims, damages, costs and expenses (including legal fees and disbursements in connection therewith and interest chargeable thereon) asserted against or incurred by SwarnaKart that arise out of, result from, or may be payable by virtue of, any breach or non-performance of any representation, warranty, covenant or agreement made or obligation to be performed by you pursuant to these Terms.</p>
<ul>
<li><strong><u> Termination</u></strong>:
<ul>
<li>SwarnaKart may suspend or terminate your use of the Website or any Service if it believes, in its sole and absolute discretion that you have infringed, breached, violated, abused, or unethically manipulated or exploited any term of these Terms of Service or anyway otherwise acted unethically. Notwithstanding anything in this clause, these Terms of Service will survive indefinitely unless and until SwarnaKart chooses to terminate them.</li>
<li>If You or SwarnaKart terminates your use of the Website or any Service, SwarnaKart may delete any content or other materials relating to your use of the Service and SwarnaKart will have no liability to you or any third party for doing so. However, your transactions details may be preserved by SwarnaKart for purposes of tax or regulatory compliance.</li>
</ul>
</li>
<li>Either party shall have the right to cease/terminate the relationship by giving you a prior twenty four (24) hours written notice.</li>
</ul>
<ul>
<li><strong><u> Governing Law:</u></strong></li>
</ul>
<p>These terms shall be governed by and constructed in accordance with the laws of India without reference to conflict of laws principles and disputes arising in relation hereto shall be subject to the exclusive jurisdiction of courts, tribunals, fora, applicable authorities at Hyderabad.</p>

</div>
</div>