<style type="text/css">
.label_style
{
width: 120px;
}
.seperator_style
{
width: 20px;
}
.value_style
{
padding-left: 10px;
}
</style>
<div id="main" ng-controller="KartItemCtrl" class="col-md-12" ng-init="getItemDetails()">
	<!-- Second column - Main Starts-->
	<!-- <h3 class="page-header">Upload your item</h3> -->
	<div class = "row">
		<div class="panel panel-default" ng-controller="KartMerchantCtrl" ><!--  ng-init="getMerchantLogo()" -->
			<div class=" panel-body">
				<div class="col-md-2">
					<div><a href="" title="Click here to view Merchant Page" data-toggle="tooltip"  ng-click="openMerchantHomePage()" ><img  ng-src="data:image/*;base64,{{kartItemDetailsDto.merchantLogo}}" onerror="this.src='resources/img/Swarna-Black-Logo.png'"  style="width: 75px; height: 75px;" /></a></div>
				</div>
				<div class="col-md-5">
					<div><label class="label_style">Shop Url Name</label><span class="seperator_style">:</span><span class="value_style">{{kartItemDetailsDto.businessName}}</span></div>
					<div><label class="label_style">Contact Person</label><span class="seperator_style">:</span><span class="glyphicon glyphicon-user value_style">{{kartItemDetailsDto.marketingName}}</span></div>
					<div><label class="label_style">Contact Email</label><span class="seperator_style">:</span><span class="glyphicon glyphicon-envelope value_style"><a class="pull-right" href="mailto:{{kartItemDetailsDto.marketingEmail}}?Subject=Item Inquiry">{{kartItemDetailsDto.marketingEmail}} </a></span></div>
				</div>
				<div class="col-md-5">
					<div><label class="label_style">Shop Full Name <span class="seperator_style">:</span></label><span class="value_style">{{kartItemDetailsDto.shopFullName}}</span></div>
					<div><label class="label_style">Contact Phone(1)</label><span class="seperator_style">:</span><span class="glyphicon glyphicon-phone-alt value_style">{{kartItemDetailsDto.marketingPhone1}}</span> </div>
					<div><label class="label_style">Contact Phone(2)</label><span class="seperator_style">:</span><span class="glyphicon glyphicon-phone-alt value_style">{{kartItemDetailsDto.marketingPhone2}}</span></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="panel panel-default" ng-controller="KartMerchantCtrl" ><!--  ng-init="getMerchantLogo()" -->
			<div class=" panel-body">
				<!-- Row - Main Starts -->
				<div class="col-md-6">
					<div class="form-group">
						<div class="panel panel-default">
							<div class=" panel-body">
								<!-- <img ng-src="data:image/*;base64,{{kartItemDetailsDto.itemImage}}" style="width: 400px; height: 400px;" /> -->
								 <img ng-src="{{kartItemDetailsDto.imageUUID}}" class="img-responsive center-block" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="label_style">Metal Type</label><span class="seperator_style">:</span><span class="value_style">{{kartItemDetailsDto.itemDetail.luMetalsOffered.metalsOffered}}</span>
					</div>

					<div class="form-group" >
						<label class="label_style">Articles Type</label><span class="seperator_style">:</span><span class="value_style"> {{kartItemDetailsDto.itemDetail.luArticlesOffered.articlesOffered}}</span>
					</div>
					<div class="form-group">
						<label class="label_style">Gender</label><span class="seperator_style">:</span><span class="value_style">{{kartItemDetailsDto.itemDetail.gender}}</span>
					</div>
					<div class="form-group">
						<label class="label_style">Mix</label><span class="seperator_style">:</span><span class="value_style">{{kartItemDetailsDto.itemDetail.gender ===1?'Yes':'No'}}</span>
						
					</div>
					
					

					<div class="form-group">
						<label class="label_style">Customizable</label><span class="seperator_style">:</span><span class="value_style">{{kartItemDetailsDto.itemDetail.customizable ===1?'Yes':'No'}}</span>
					</div>

					<div class="form-group">
						<label class="label_style">Available Sizes</label><span class="seperator_style">:</span><span class="value_style">{{kartItemDetailsDto.itemDetail.availableSizes ===1?'Yes':'No'}}</span>
					</div>
					<div class="form-group">
						<label class="label_style">Availability</label><span class="seperator_style">:</span><span class="value_style">{{kartItemDetailsDto.itemDetail.availability}}</span>
						
					</div>
					<div class="form-group">
						<label class="label_style">Units in Stock</label><span class="seperator_style">:</span><span class="value_style">{{kartItemDetailsDto.itemDetail.noOfUnitsInStock}}</span>
					</div>
					<!-- <div class="form-group">
						<label>Delivery Offered:</label><span> {{kartItemDetailsDto.itemDetail.deliveryOffered === 'HOME_DELIVERY'?'Home delivery with in
									50Km Radius':(kartItemDetailsDto.itemDetail.deliveryOffered === 'SHIPPING'?'Shipping':(kartItemDetailsDto.itemDetail.deliveryOffered === 'SELF_PICKUP'?'Self pick up':(kartItemDetailsDto.itemDetail.deliveryOffered === 'ONLINE'?'online':(''))))}}</span>
					</div> -->
					
					
				</div>
				<!-- First column Ends -->
				<div class="col-md-6">
					<div class="form-group"	ng-show="{{kartItemDetailsDto.itemDetail.showPrice}}">
						<label class="label_style">Price (In {{kartItemDetailsDto.itemDetail.currency ==='USD'?'$':'Rs'}}): <span> {{kartItemDetailsDto.itemDetail.price}}</span></label>
					</div>
					
					<div class="form-group" ng-show="{{kartItemDetailsDto.itemDetail.showPrice}}">
						<div class="panel panel-default">
							<div class=" panel-body">
								<label class="label_style">Price Break up (In {{kartItemDetailsDto.itemDetail.currency ==='USD'?'$':'Rs'}} ):</label>
								<div>
									<div><label class="label_style">Metal Price</label><span class="seperator_style">:</span> <span class="value_style"> {{kartItemDetailsDto.itemDetail.metalPrice}}</span> </div>
									<div><label class="label_style">Diamond/Stones Price</label><span class="seperator_style">:</span> <span class="value_style"> {{kartItemDetailsDto.itemDetail.stoneDiamondPrice}}</span></div>
									<div><label class="label_style">Making Charges</label><span class="seperator_style">:</span> <span class="value_style"> {{kartItemDetailsDto.itemDetail.makingCharges}}</span></div>
									<div><label class="label_style">Tax</label><span class="seperator_style">:</span> <span class="value_style"> {{kartItemDetailsDto.itemDetail.tax}}</span></div>
									<div><label class="label_style">Total Price (Including tax)</label><span class="seperator_style">:</span> <span class="value_style"> {{kartItemDetailsDto.itemDetail.totalPrice}}</span></div>
								</div>
							</div>
							</div>
						</div>
					<div class="form-group" ng-show="{{!kartItemDetailsDto.itemDetail.showPrice}}">
						<div class="panel panel-default">
							<div class=" panel-body">
								<label class="label_style">Price</label><span class="seperator_style">:</span><span style="font-weight: bold; color: red;">Please contact below phone/email to know the best price</span>
								<div>
									<div><label class="label_style">Contact Person</label><span class="seperator_style">:</span><span class="glyphicon glyphicon-user value_style">{{kartItemDetailsDto.marketingName}}</span></div>
									<div><label class="label_style">Contact Email</label><span class="seperator_style">:</span>
									<span class="glyphicon glyphicon-envelope value_style">
										<a class="pull-right" href="mailto:{{kartItemDetailsDto.marketingEmail}}?Subject=Price Inquiry">{{kartItemDetailsDto.marketingEmail}} </a>
									</span></div>
									<div><label class="label_style">Contact Phone(1)</label><span class="seperator_style">:</span><span class="glyphicon glyphicon-phone-alt value_style">{{kartItemDetailsDto.marketingPhone1}}</span> </div>
									<div><label class="label_style">Contact Phone(2)</label><span class="seperator_style">:</span><span class="glyphicon glyphicon-phone-alt value_style">{{kartItemDetailsDto.marketingPhone2}}</span></div>
									
								</div>
							</div>
							</div>
						</div>
						
					<!-- Second column starts -->
					<div class="form-group">
						<div class="panel panel-default">
							<div class=" panel-body">
								<label class="label_style">Details:</label>
								<div>
									<div><label class="label_style">Diamond/Stone Certification</label><span class="seperator_style">:</span> 
                                    <span class="value_style"> {{kartItemDetailsDto.itemDetail.dimondStoneCertification}}</span> </div>
									<div><label class="label_style">Diamond/Stone Colour</label><span class="seperator_style">:</span> 
                                    <span class="value_style"> {{kartItemDetailsDto.itemDetail.dimondStoneColour}}</span></div>
									<div><label class="label_style">Diamond/Stone Clarity</label><span class="seperator_style">:</span> 
                                    <span class="value_style"> {{kartItemDetailsDto.itemDetail.dimondStoneClarity}}</span></div>
									<div><label class="label_style">Diamond/Stone Carat</label><span class="seperator_style">:</span> 
                                    <span class="value_style"> {{kartItemDetailsDto.itemDetail.dimondStoneCarats}}</span></div>
									<div><label class="label_style">Diamond/Stone quantity</label><span class="seperator_style">:</span> 
                                    <span class="value_style"> {{kartItemDetailsDto.itemDetail.dimondStonePieces}}</span></div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="label_style">Weight(In Grams):</label><span> {{kartItemDetailsDto.itemDetail.weight}}</span> 
					</div>
					<div class="form-group">
						<div class="panel panel-default">
							<div class=" panel-body">
								<label class="label_style">Dimension (In Inches)</label>
								<div>
									<div>
                                    <label class="label_style">Length</label>
                                    <span class="seperator_style">:</span>  <span class="value_style"> {{kartItemDetailsDto.itemDetail.length}}</span> </div>
									<div><label class="label_style">Width</label><span class="seperator_style">:</span>  <span class="value_style"> {{kartItemDetailsDto.itemDetail.width}}</span></div>
									<div><label class="label_style">Height</label><span class="seperator_style">:</span>  <span class="value_style"> {{kartItemDetailsDto.itemDetail.height}}</span></div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="label_style">Delivery Offered:</label>
						<!-- <div ng-repeat="deliveryOffered in kartItemDetailsDto.deliveryOffered"><span>{{deliveryOffered}}</span> -->
						 <ul >
        					<li ng-repeat="deliveryOffered in kartItemDetailsDto.deliveryOffered"> {{deliveryOffered}} </li>
    					</ul>
					</div>
					<div class="form-group">
						<label class="label_style">Brand</label><span class="seperator_style">:</span> <span class="value_style"> {{kartItemDetailsDto.itemDetail.brand}}</span>
					</div>
					<div class="form-group">
						<label class="label_style">Description</label><span class="seperator_style">:</span> 
						<div>
							<textarea id="description" class="form-control" type="text"
								ng-model="kartItemDetailsDto.itemDetail.description" readonly
								></textarea>
						</div>
					</div>
				</div>
				<!-- Second column Ends -->
			</div>
			<tt-error-messages extra-styles="access-screen"></tt-error-messages>
			<div class="form-group text-center" style="margin-top: 20px;">
				<!-- <a ng-href="#/{{merchantShopName}}" class="btn btn-primary">Back</a> -->
				<a href="" ng-controller="KartSearchCtrl" ng-click="goBack()" class="btn btn-primary">Back</a>
			</div>
		</div>
	</div>
</div>
