<div class="container-fluid" ng-init="findAllItems()">
	<div><h3 class="page-header">Top 50 items</h3></div>
	<!-- Container Starts -->
	<div class="row">
		<!-- Page Level Row Starts-->
		<!-- <div id="swarnaSideBar" class="col-md-2" ng-include
			src="'views/swarnaSideBar.html'"></div> -->
		<!-- First Column Side Bar -->

		<div id="main" class="col-md-10" ng-show ="results.length >0" >
			<!-- <div ng-controller="MerchantController"  ng-init="getMerchantLogo()">
			
			<div><h3 class="page-header"><img ng-show="vm.logoImage" ng-src="data:image/*;base64,{{vm.logoImage}}" style="width: 50px; height: 50px;" /> {{shopName}}'s Item List</h3></div>
			</div> -->
			
			<!-- Second column - Main Starts-->
			<div class="panel panel-default">
				<div class=" panel-body" >
					<div class="row" >
						<p class="text-info"><b>Number of Items: {{results.length}}</b></p>
						<div ng-repeat="itemSummary in metadataList  | filter:query as results">
							<div class="col-sm-5 col-md-3">
								<div class="thumbnail"  > 
<!-- 								<a href="" class="pop">
    								<img src="data:image/*;base64,{{itemSummary.photo1UUID}}"	alt="{{itemSummary.articleType}}" />Click to Enlarge 
</a> -->						
								 <img  ng-src="{{itemSummary.photo1UUID}}" alt="{{itemSummary.articleType}}"/><a href="" ng-controller="ItemController" ng-click="getItemdetails(itemSummary,'')" >View Details</a>
								 <br/> 
								<strong><span class="text-justify">{{itemSummary.metalType}},
								{{itemSummary.articleType}} </span></strong><br/><span class="label label-info">Total Price: {{itemSummary.currency}} {{itemSummary.totalPrice | currency:""}} </span>
								</div>
							</div>
							 <!--MODAL WINDOW--> 
			                <script type="text/ng-template" id="myModalContent.html">
                    						<div class="modal-header">
												<h3>Metal Type: {{ itemSummary.metalType }}, Article Type:{{ itemSummary.articleType }}</h3>
                   							 </div>
                    						<div class="modal-body">
												<img  ng-src="{{itemSummary.photo2UUID}}" style="width: 400px; height: 264px;" />
                    						</div>
                    						<div class="modal-footer">
												<span class="label label-info">Total Price: {{itemSummary.currency}} {{itemSummary.totalPrice | currency:""}} </span>
                   							 </div>
          				</script>
					</div>
				</div>
				<tt-error-messages extra-styles="access-screen"></tt-error-messages>
			</div>
		</div>
	</div>
		<!-- Second column - Main Starts-->
	</div>
	<!-- Page Level Row Ends-->
</div>
