<div class="modal-header">

	<h4>Metal Type: {{ itemSummary.metalType }}, Article Type:{{itemSummary.articleType }}</h4>
</div>
<div class="modal-body">
	<div class="row">
		<form class="form-horizontal" role="form">
		<div class="col-md-6">
			<img ng-src="{{itemSummary.photo2UUID}}" style="width: 400px; height: 264px;" />
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label> Metal Type:</label> {{ itemSummary.metalType }}<label> Article Type:</label>{{ itemSummary.articleType }} 
			</div>
			<div class="form-group">
				<label> Gender:</label>{{ itemSummary.itemDetail.gender }}<label> Mix:</label>{{ itemSummary.itemDetail.mix === 1?'Yes':'No'}} 
			</div>
			<div class="form-group">
				<label>Weight(In grams):</label>{{itemSummary.itemDetail.weight}} <label>Customizable:</label>{{ itemSummary.itemDetail.customizable === 1?'Yes':'No'}} 
				<label>Available Sizes:</label>{{itemSummary.itemDetail.availableSizes === 1?'Yes':'No'}}
			</div>
			<div class="form-group">
				<label>Dimension(In inches):</label>
				<div><label>Length:</label> {{itemSummary.itemDetail.length}} <label>Width:</label> {{itemSummary.itemDetail.width}} <label>Height:</label> {{itemSummary.itemDetail.height}}
				</div>
			</div>
			<div class="form-group">
				<label>Price:</label>{{itemSummary.itemDetail.price}} 
				<div><label>Price Break up:</label>
				<label>Metal:</label>{{itemSummary.itemDetail.metalPrice}}
				<label>Diamond/Stones:</label>{{itemSummary.itemDetail.stoneDiamondPrice}}
				<label>Making Charges:</label>{{itemSummary.itemDetail.makingCharges}}
				<label>Tax:</label>{{itemSummary.itemDetail.tax}}
				<label>Total Price (Including tax):</label>{{itemSummary.itemDetail.totalPrice}}
				</div>
			</div>
		</div>
		</form>
	</div>
</div>
<div class="modal-footer">
	<span class="label label-info">Total Price:	{{itemSummary.currency}} {{itemSummary.totalPrice | currency:""}} </span>
</div>

