<div class="container-fluid" ng-init="findItemsByBusinessName()"  >
	
	<div class = "row" >
		<div class="panel panel-default"  ><!--  ng-init="getMerchantLogo()" -->
			<div class=" panel-body">
				<div class="col-md-2">
					<div><img ng-if ="merchantItems.merchantLogo" ng-src="{{merchantItems.logoURI}}" style="width: 75px; height: 75px;" /></div>
				</div>
				<div class="col-md-5">
					<div><label>Shop Name: {{businessName}}</label></div>
					<div><label>Contact Person:<span class="glyphicon glyphicon-user"></span> {{marketingName}}</label></div>
					<div><label>Contact Email:<span class="glyphicon glyphicon-envelope"></span> {{marketingEmail}}</label></div>
				</div>
				<div class="col-md-5">
					<div><label>Contact Phone(1):<span class="glyphicon glyphicon-phone-alt"></span> {{marketingPhone1}}</label></div>
					<div><label>Contact Phone(2):<span class="glyphicon glyphicon-phone-alt"></span> {{marketingPhone2}}</label></div>
				</div>
			</div>
		</div>
	</div>
	<!-- Container Starts -->
	<div class="row">
		<!-- Page Level Row Starts-->
		<!-- <div id="swarnaSideBar" class="col-md-2" ng-include
			src="'views/swarnaSideBar.html'"></div> -->
		<!-- First Column Side Bar -->

		<div id="main" class="col-md-12" >
			<div ng-show ="results.length >0">
				<!-- <div ng-controller="MerchantController"  ng-init="getMerchantLogo()"> -->
				<!-- <div  ng-controller="MerchantController"  ng-init="getMerchantLogo()">
				<div><h3 class="page-header"><img ng-if ="merchantItems.merchantLogo" ng-src="data:image/*;base64,{{merchantItems.merchantLogo}}" style="width: 75px; height: 75px;" /> {{merchantItems.businessName}}'s Item List</h3></div>
				</div> -->
				<!-- Second column - Main Starts-->
				<div class="panel panel-default">
					<div class=" panel-body" >
						<div class="row"  >
							<p class="text-info"><b>Number of Items: {{results.length}}</b></p>
							<div ng-repeat="itemSummary in merchantItems.itemSummaryDtos  | filter:query | orderBy: 'updateDate' as results ">
								<div class="col-sm-5 col-md-3">
									<div class="thumbnail"  > 
										<a href="" title="View Details" data-toggle="tooltip" ng-controller="KartItemCtrl" ng-click="getItemdetails(itemSummary,merchantItems.businessName)" >
										<img ng-src="{{itemSummary.photo1UUID}}" alt="{{itemSummary.articleType}}" /></a>
									 <br/> 
									<strong><span class="text-justify">{{itemSummary.metalType}},
									{{itemSummary.articleType}} </span></strong><br/><div ng-show="{{itemSummary.itemDetail.showPrice}}"><span class="label label-info">Total Price: {{itemSummary.currency}} {{itemSummary.totalPrice | currency:""}} </span></div>
									<div ng-show="!{{itemSummary.itemDetail.showPrice}}"><span class="label label-danger">Price on demand</span></div>
									</div>
								</div>
							</div>
						</div>
					
					</div>
				</div>
		</div>
		<div><h3 class="page-header">{{test}}</h3></div>
	</div>
		<!-- Second column - Main Starts-->
	</div>
	<!-- Page Level Row Ends-->
</div>