<div class="col-md-12  col-xs-12">
			<div  ng-if="vm.resultList.length>0"><h3 class="page-header" style="color: #262626;" >Found {{vm.resultList.length}} item(s).</h3></div>
			<div ng-if="vm.resultList.length<=0"><h3 class="page-header" style="color: #262626;" >No items Found.</h3></div></div>
		<div >
			<div ng-if="vm.resultList.length<=0"><h3 class="text-left text-primary" >No items Found.</h3></div></div>
		      <div ng-repeat="itemSummary in vm.resultList  | filter:query as results">
				   <div class="col-md-3 col-xs-8">
						<div class="thumbnail"> 
							 <a href="" title="View Details" data-toggle="tooltip" ng-controller="KartItemCtrl" ng-click="getItemdetails(itemSummary,'')" ><img  ng-src="{{itemSummary.photo1UUID}}" alt="{{itemSummary.articleType}}"/></a>
							{{itemSummary.articleType}}, {{itemSummary.metalType}}</br>
							<div ng-show="{{itemSummary.itemDetail.showPrice}}"><h6><span class="label label-warning">{{itemSummary.currency}}{{itemSummary.totalPrice  | currency:""}}</span></h6></div>
		        	<div ng-show="{{!itemSummary.itemDetail.showPrice}}"><h6><span class="label label-danger">Price on demand</span></h6></div>
							
		        			
						</div>
					</div>
			  </div>
		</div>
