<div class="col-md-12 col-xs-12" ng-init="getTopTrendingItems()">
	<h3 class="page-header" style="color: #262626;">Top Trending Jewelries</h3>
		<carousel interval="5000">
		    <slide ng-repeat="slideCollection in groupedSlides" active="slide.active">
		      <div class="row">
		      	<div class="col-md-3 col-xs-3" ng-if="slideCollection.item1" > 
		        	<a href="" title="View Details" data-toggle="tooltip" ng-controller="KartItemCtrl" ng-click="getItemdetails(slideCollection.item1,'')" ><img ng-src="{{slideCollection.item1.photo1UUID}}" class="img-responsive img-rounded"></a>
		        	<div><h6>{{slideCollection.item1.articleType}}, {{slideCollection.item1.metalType}}</h6></div>
		        	<div ng-show="{{slideCollection.item1.itemDetail.showPrice}}"><h6><span class="label label-warning">{{slideCollection.item1.currency}}{{slideCollection.item1.totalPrice  | currency:""}}</span></h6></div>
		        	<div ng-show="{{!slideCollection.item1.itemDetail.showPrice}}"><h6><span class="label label-danger">Price on demand</span></h6></div>
		        </div>      
		        <div class="col-md-3 col-xs-3" ng-if="slideCollection.item2" > 
		        	<a href="" title="View Details" data-toggle="tooltip" ng-controller="KartItemCtrl" ng-click="getItemdetails(slideCollection.item2,'')" ><img ng-src="{{slideCollection.item2.photo1UUID}}" class="img-responsive img-rounded"></a>
		       		<div><h6>{{slideCollection.item2.articleType}}, {{slideCollection.item2.metalType}}</h6></div>
		       		<div ng-show="{{slideCollection.item2.itemDetail.showPrice}}"><h6><span class="label label-warning">{{slideCollection.item2.currency}}{{slideCollection.item2.totalPrice  | currency:""}}</span></h6></div>
		       		<div ng-show="{{!slideCollection.item2.itemDetail.showPrice}}"><h6><span class="label label-danger">Price on demand</span></h6></div>
		        </div>
		        <div class="col-md-3 col-xs-3" ng-if="slideCollection.item3" > 
		        	<a href="" title="View Details" data-toggle="tooltip" ng-controller="KartItemCtrl" ng-click="getItemdetails(slideCollection.item3,'')" ><img ng-src="{{slideCollection.item3.photo1UUID}}" class="img-responsive img-rounded"></a>
		        	<div><h6>{{slideCollection.item3.articleType}}, {{slideCollection.item3.metalType}}</h6></div>
		        	<div ng-show="{{slideCollection.item3.itemDetail.showPrice}}"><h6><span class="label label-warning">{{slideCollection.item3.currency}}{{slideCollection.item3.totalPrice  | currency:""}}</span></h6></div>
		        	<div ng-show="{{!slideCollection.item3.itemDetail.showPrice}}"><h6><span class="label label-danger">Price on demand</span></h6></div>
		        </div>
		        <div class="col-md-3 col-xs-3" ng-if="slideCollection.item4" > 
		        	<a href="" title="View Details" data-toggle="tooltip" ng-controller="KartItemCtrl" ng-click="getItemdetails(slideCollection.item4,'')" ><img ng-src="{{slideCollection.item4.photo1UUID}}" class="img-responsive img-rounded"></a>
		        	<div><h6>{{slideCollection.item4.articleType}}, {{slideCollection.item4.metalType}}</h6></div>
		        	<div ng-show="{{slideCollection.item4.itemDetail.showPrice}}"><h6><span class="label label-warning">{{slideCollection.item4.currency}}{{slideCollection.item4.totalPrice  | currency:""}}</span></h6></div>
		        	<div ng-show="{{!slideCollection.item4.itemDetail.showPrice}}"><h6><span class="label label-danger">Price on demand</span></h6></div>
		        </div>
		      </div>
		    </slide>
		 </carousel>  
</div>
