<div class="col-md-12" ng-controller="KartMerchantCtrl" ng-init="getRandomMerchants()">
	<h3 class="page-header" style="color: #262626; margin-top: 13px;"></br></br>Popular Merchants</br>
	</h3>
	 <div class="row" id="userList">
	 			<div ng-repeat="merchant in merchantList" class="col-xs-3 col-sm-6">
	    		<a href="" title="View Details" data-toggle="tooltip"  ng-click="showUserModal($index)"><img ng-src="{{merchant.logoURI}}" onerror="this.src='resources/img/Swarna-Black-Logo.png'"  class="img-thumbnail img-responsive img-circle"></a>
	    		<h5 class="text-center"><a href="" ng-click="showUserModal($index)">{{merchant.businessName}}</a></h5>
	    		<hr>
	  		</div>
	 </div>
	<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"><!--modal-->
		<!--/modal-->
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header bg-info">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
					<h1 id="myModalLabel" class="text-center"></h1>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-4 col-xs-offset-4">
								<a href="" title="Click to view all items from this merchant" data-toggle="tooltip"  ng-click="openMerchantHomePageFromPopup()" ><img ng-src="{{currUser.merchantlogoURI}}" onerror="this.src='resources/img/Swarna-Black-Logo.png'"  class="img-thumbnail img-responsive img-circle"></a>
							</div>
						</div>
						<hr>
						<div class="container"></div>
						<div class="row">
						<h5 class="text-center">
								<i class="fa fa-fw fa-user fa-2x"></i>{{currUser.marketingName}}
							</h5>
							<h5 class="text-center">
								<i class="fa fa-fw fa-map-marker fa-2x"></i>{{currUser.addressLine1}}
							</h5>
							<h5 class="text-center">
								{{currUser.addressLine2}}
							</h5>
							<h5 class="text-center">
								{{currUser.state}}, {{currUser.city}}, {{currUser.country}}
							</h5>
							<h5 class="text-center">
								<i class="fa fa-fw fa-phone fa-2x"></i> {{currUser.marketingPhone1}}
							</h5>
							<h5 class="text-center">
								<i class="fa fa-fw fa-envelope-o fa-2x"></i> <a href="mailto:{{currUser.marketingEmail}}">{{currUser.marketingEmail}}</a>
							</h5>
							<h5 class="text-center">
								<i class="fa fa-fw fa-external-link fa-2x"></i> <a href="" ng-click="openMerchantHomePageFromPopup()" >https://www.swarnakart.com/{{currUser.businessName}}</a>
							</h5>
						</div>
					</div>
				</div>
				<div class="modal-footer bg-info">
					<button class="btn btn-lg btn-default center-block"
						data-dismiss="modal" aria-hidden="true">OK!</button>
				</div>
			</div>
		</div>
	</div><!--/modal-->
</div>

