<!DOCTYPE html>
<html ng-app="swarnakartApp">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<base href="/index.html">
<link rel="icon" href="resources/img/kartLogo.ico">
<!-- <base href="/swarnakart/index.html">
<link rel="icon" href="swarnakart/resources/img/kartLogo.ico"> -->
<title>SwarnaKart</title>

<!-- Bootstrap core CSS -->
<link href="resources/css/vendor/bootstrap-3.3.5/bootstrap.min.css"	rel="stylesheet">
<link href="resources/css/vendor/bootstrap-3.3.5/bootstrap-theme.min.css"	rel="stylesheet">
<link href="resources/css/vendor/bootstrap-3.3.5/bootstrap-themes-custom.css" rel="stylesheet" type="text/css">
<!-- Font awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- Custom styles for this template -->
<link href="resources/css/styles.css" rel="stylesheet">
<link href="resources/css/template_css01.css" rel="stylesheet">

<script type="text/javascript" src="resources/js/vendor/jquery-1.12.3/jquery-1.12.3.min.js"></script>


<script type="text/javascript"	src="resources/js/vendor/bootstrap-3.3.5/bootstrap.min.js"></script>
<script type="text/javascript" src="resources/js/vendor/angularjs-1.3.16/angular.min.js"></script>


<script type="text/javascript"	src="resources/js/vendor/angularjs-1.3.16/angular-route.min.js"></script>
<script type="text/javascript"	src="resources/js/vendor/angularjs-1.3.16/angular-messages.min.js"></script>
<script type="text/javascript"	src="resources/js/vendor/angularjs-1.3.16/angular-animate.min.js"></script>
<script type="text/javascript"	src="resources/js/vendor/angular-ui-bootstrap-0.10.0/ui-bootstrap-tpls.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>




<script src="resources/js/kartApp.js"></script>
<!-- Controllers -->

<script src="resources/js/controllers/kartCommonController.js"></script>
<script src="resources/js/controllers/kartSearchController.js"></script>
<script src="resources/js/controllers/kartMerchantController.js"></script>
<script src="resources/js/controllers/kartUserController.js"></script>
<script src="resources/js/controllers/kartItemController.js"></script>

<!-- Services -->
<script src="resources/js/services/kartCommonService.js"></script>
<script src="resources/js/services/kartItemDetailsService.js"></script>

<script src="resources/js/services/kartSearchService.js"></script>
<script src="resources/js/services/kartMerchantService.js"></script>
<script src="resources/js/services/kartUserService.js"></script>

<!-- Progress Bar JS and CSS -->
<link rel="stylesheet" href="resources/css/loading-bar.min.css" type="text/css" media="all" />
<script type="text/javascript" src="resources/js/vendor/kart-loading-bar.min.js"></script>


</head>

<body>
	<main ng-controller="BaseFormCtrl"> <!-- NAVBAR ================================================== -->
	<!-- <div class="navbar-wrapper">
		<div class="container"> -->

			<!-- <nav class="navbar navbar-inverse navbar-static-top"> -->
			<nav class="" role="navigation" id="topnavbar">
				<div class="container">
					<div>
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse" data-target="#navbar"
							aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
                        <div class="col-md-12">
                        	<div class="col-md-6"><a href="#/"><img src="./resources/img/logo_new.png" alt="Logo" /></a></div>
							<div class="col-md-4 col-md-offset-2" style="margin-top: 10px;">
                            	<div ng-include="'views/basicSearch.html'" ></div>
							</div>
                        </div>
					</div>
					<!-- div id="navElementsCustom" class="navElementPosition" -->
					<div id="navbar" class="navbar-collapse collapse">
                    	<!--
						<ul class="nav navbar-nav">
							<li><a href="#/">Home</a></li> -->
							<!-- <li><a href="#about">About Us</a></li> -->
						<!--</ul>-->
                       
					</div>
				</div>
			</nav>
		<!-- </div>
	</div> -->

	<!-- the templates will be injected  -->
	<div class="container fluid">
		<span></span>
		<div ng-view></div>
		<div><a class="pull-right" id="scrollArea" ng-controller="ScrollController" ng-click="gotoTop()" >Back to top</a></div>
	</div>
	
	</main>
	 <section class="container footer" style="width: 100%; color: #fff;">
	 <footer class="text-center">
            <p>&copy; 2016 SwarnaKart India Pvt. Ltd. &middot; All right reserved. <a href="#/terms" >Terms</a><a class="pull-right" href="mailto:admin@swarnakund.com?Subject=Contact" target="_top" > Contact </a>
            </p>
        </footer>
    </section>
	<!-- <script>
    $(document).ready(function(){
        $(document.body).css('padding-top', $('#topnavbar').height() + 1);
        $(window).resize(function(){
            $(document.body).css('padding-top', $('#topnavbar').height() + 1);
        });
    });

</script> -->
	<!-- <footer class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1>Footer header</h1>
            <p>Please provide detail,
              <br>Please provide detail like eamil.
              <br>Please provide detail contact us.</p>
          </div>
          <div class="col-sm-6">
            <p class="text-info text-right">
              <br>
              <br>
            </p>
            <div class="row">
              <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 hidden-xs text-right">
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer> -->
    
</body>
</html>
